@using Microsoft.AspNetCore.Routing
@using WillBoard.Application.Administration.Commands.BoardDelete
@using WillBoard.Application.Administration.Queries.BoardDelete
@using WillBoard.Core.Managers
@using WillBoard.Web.Services
@inject LinkGenerator _linkGenerator
@inject ViewService _viewService
@inject AccountManager _accountManager
@model BoardDeleteViewModel
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<main>
    <article>
        <header>Board - Delete</header>
        <section>
            <form method="post">
                <input type="hidden" name="csrf" value="@ViewData["csrf"]" autocomplete="off">
                <input type="hidden" name="@nameof(BoardDeleteCommand.BoardId)" value="@Model.Board.BoardId" autocomplete="off">
                <p>
                    <button type="submit">Delete @Model.Board.BoardId</button>
                </p>
            </form>
        </section>
    </article>
</main>