@using WillBoard.Application.ViewModels
@model ApplicationViewModel

<input type="checkbox" id="synchronization">
<label for="synchronization" class="icon"></label>
<section class="synchronization">
    <h3>Synchronization</h3>
    <noscript>Synchronization is available only with enabled JavaScript</noscript>
    <p>Not connected</p>
</section>