@using WillBoard.Application.ViewModels
@model ApplicationViewModel

<input type="checkbox" id="settings">
<label for="settings" class="icon"></label>
<section class="settings">
    <h3>Settings</h3>
    <noscript>Settings are available only with enabled JavaScript</noscript>
</section>