@using WillBoard.Application.ViewModels
@using WillBoard.Core.Consts;
@using WillBoard.Core.Interfaces.Services
@using WillBoard.Core.Managers
@inject BoardManager _boardManager
@inject ILocalizationService _localizationService
@model BoardErrorViewModel
@{
    Layout = "~/Views/Shared/_BoardLayout.cshtml";
    var board = _boardManager.GetBoard();
    var error = await _localizationService.GetLocalizationAsync(board.Language, TranslationKey.Error);
}

<main class="other">
    <section>
        <h1>@error @Model.Error.Status</h1>
        <p class="center">@Model.Error.Message</p>
        <p class="center"><small>(@Model.Error.Code)</small></p>
    </section>
</main>

<footer>
    @await Html.PartialAsync("~/Views/Shared/Footer/_BoardFooter.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Footer/_ApplicationFooter.cshtml")
</footer>