@using Microsoft.AspNetCore.Routing
@using WillBoard.Application.ViewModels
@using WillBoard.Core.Managers
@inject LinkGenerator _linkGenerator
@inject BoardManager _boardManager
@model BoardViewModel
@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    var board = _boardManager.GetBoard();
}

<main class="other">
    <section>
        <h1>Password</h1>
        <form method="post" enctype="multipart/form-data" action="@_linkGenerator.GetPathByAction("SecurePassword", "Board", new { boardId = board.BoardId })">
            <p><input type="password" name="password" placeholder="Password" maxlength="64"></p>
            <p class="center"><button type="submit">Login</button></p>
        </form>
    </section>
</main>

<footer>
    @await Html.PartialAsync("~/Views/Shared/Footer/_BoardFooter.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Footer/_ApplicationFooter.cshtml")
</footer>